<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Observations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
<a href="./observations/1">Helsinki</a><br />
<a href="./observations/2">Tokyo</a><br />
<a href="./observations/3">New York City</a><br />
<a href="./observations/4">Amsterdam</a><br />
<a href="./observations/5">Dubai</a><br />
<a href="./add">Add new</a>
</div>
</body>
</html>