<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add observation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="css/stickyfooter.css" th:href="@{/css/stickyfooter.css}" />
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Weather observations</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/observations/1">Helsinki</a></li>
              <li><a href="/observations/2">Tokyo</a></li>
              <li><a href="/observations/3">New York City</a></li>
              <li><a href="/observations/4">Amsterdam</a></li>
              <li><a href="/observations/5">Dubai</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/add">Add new observation</a></li>
            </ul>
          </div><!--nav-collapse -->
        </div><!--container-fluid -->
      </nav>
	<h5>Your weather observation was added successfully. <a href="/add">Add another?</a></h5>
	</div>
<footer class="footer">
      <div class="container">
        <span class="text-muted">Max Laihonen - <a href="https://www.linkedin.com/in/maxlaihonen/">LinkedIn</a></span>
      </div>
    </footer>
</body>
</html>